{% extends "header.html" %}
{% block body %}



<!-- Request new book Modal -->
<div class="modal fade" id="requestModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">
        Request by book or author name<br>
        <small> All users will be sent a notification.</small></h4>
      </div>

      <div class="modal-body">
        <div class="container-fluid">
        <br>
            <form action="{{url_for('requestbook')}}" enctype="multipart/form-data">
                  <div class="form-group">
                    <label for="book_name">Book Name</label>
                    <input type="text" class="form-control" id="book_name" placeholder="Name of the book" name="book_name">
                  </div>
                  <div class="form-group">
                    <label for="author_name">Author Name</label>
                    <input type="text" class="form-control" id="author_name" placeholder="Or the author name" name="author_name">
                  </div>

                  <div class="form-group">
                    <label for="description">Description (Optional) </label>
                    <textarea maxlength="200" class="form-control" id="description" placeholder="Description" name="description"></textarea>
                  </div>

                    <button type="submit" class="btn btn-primary">Request</button>
            </form>
        </div>
      </div>

      <div class="modal-footer">
      </div>

    </div>
  </div>
</div>


<div class="container-fluid"></div>

<div class="container-fluid">
  <h2 class="text-center">Bookshelf - {{category.title().replace('_', '-')}} Books</h2>
  <p class="text-center">
  <u>
  <a href="#" data-toggle="modal" data-target="#requestModal" class="text-center text-muted" style="font-size: 13px;">
  Request other users to upload a book.
  </a>
  </u>
  </p>
  <h3 class="text-center" class="text-muted" style="font-size: 20px"><small>Showing {{p.from_item}}-{{p.to_item}} of total {{p.total}}</small></h3>
  <div class="row">
  {% for book in book_list[(p.from_item-1):(p.to_item)] %}
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail" style="height:220px; width:420px">
              <div class="caption">
                <h3>{{book[1].title()}}
                <br>
                <small>{{book[2]}}</small>
                </h3>

                {% if book[3]|length > 110 %}
                <p>{{book[3][:110] + '...'}}</p>

                {% else %}
                <p>{{book[3]}}</p>
                {% endif %}

                <p>Uploaded by: <a href="{{url_for('other_user_shelf', other_user_id=book[5])}}">{{book[6]}}</a></p>
                <p></p>
                <a href="{{url_for('uploads', filename=book[4])}}" target="blank" class="btn btn-primary btn-sm" role="button" name="filename">Read</a>

                {% if session.logged_in %}

                <a href="{{url_for('add_to_reading_list', username=session.username, book_id=book[0])}}" class="btn btn-default btn-sm"
                data-original-title="Add to reading list" data-placement="bottom" data-toggle="tooltip">
                <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="{{url_for('add_to_likes', username=session.username, book_id=book[0])}}" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-heart" style="color: #ff6666;"></span>
                <span class="badge" style="font-size: 10px">
                {{book[7]}}
                </span>
                </a>

                {% else %}

                <a href="{{url_for('add_to_reading_list', username='guest', book_id=book[0])}}" class="btn btn-default btn-sm" role="button"
                data-original-title="Add to reading list" data-placement="bottom" data-toggle="tooltip">
                <span class="glyphicon glyphicon-plus"></span>
                </a>
                <a href="{{url_for('add_to_likes', username='guest', book_id=book[0])}}" class="btn btn-default btn-sm" role="button">
                <span class="glyphicon glyphicon-heart" style="color: #ff6666;"></span>
                <span class="badge" style="font-size: 10px">
                {{book[7]}}
                </span>
                </a>

                {% endif %}


              </div>
          </div>
      </div>


  {% endfor %}
  </div> <!-- row
</div> -->
<div class="container-fluid">
  <nav aria-label="Page navigation">
    <div class="col-md-10 col-md-offset-5">
    <ul class="pagination">
      {% if p.has_previous() %}
        <li>
          <a href="{{url_for('browsebooks', category=category, page=p.page-1)}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in range(p.from_page, p.to_page +1) %}
        <li><a href="{{url_for('browsebooks', category=category, page=page)}}">{{page}}</a></li>
      {% endfor %}

      {% if p.has_next() %}
      <li>
        <a href="{{url_for('browsebooks', category=category, page=p.page+1)}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
    </div>
  </nav>
</div>
 <!-- tooltip -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script> -->
        <script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('.btn').tooltip();
        });
        </script>

{% endblock %}