<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bookshelf</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">


    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">
</head>

<!-- Header starts -->
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Browse Books <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{{url_for('browsebooks', category='all')}}">All Books</a></li>
            <li><a href="{{url_for('browsebooks', category='fiction')}}">Fiction</a></li>
            <li><a href="{{url_for('browsebooks', category='non_fiction')}}">Non-Fiction</a></li>
          </ul>
        </li>
      </ul>
      <!-- search box -->
      <form action="{{url_for('search')}}" class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="book, author or user"
          name="search_string" value="{{request.form.search_string}}">
        </div>
        <button type="submit" class="btn btn-primary">Go!</button>
      </form>

      <ul class="nav navbar-nav navbar-right">

        {% if session.logged_in %}
        <li><a href="{{url_for('notifications', username=session.username)}}" data-original-title="Notifications" data-placement="bottom" data-toggle="tooltip" id="bell"><span class="glyphicon glyphicon-bell" aria-hidden="true"></span></a></li>

        <li><a href="{{url_for('upload_file', username=session.username)}}" data-original-title="Upload book" data-placement="bottom" data-toggle="tooltip" id="plus"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-original-title="reading list and more" data-placement="bottom" data-toggle="tooltip" id="user">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Signed in as <br>{{session.username}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user_bookshelf/{{session.username}}">Your Bookshelf</a></li>
            <li><a href="{{url_for('reading_list', username=session.username)}}">Your Reading List</a></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </li>

        {% else %}
        <li><a href="#">About</a></li>
        <li><a href="/login/">Login</a></li>
        <li><a href="/signup/">Sign Up</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>

<!-- Body starts -->
<body>
    <div class="border-row" style="width:100%; margin-bottom: 15px;"> </div>
    <!-- Flashed messages and actual body content -->
    <div class="container-fluid col-md-6">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{message}}
</div>
        {% endfor %}
        {% endwith %}
    </div>

<!-- for gap between flash messages and the body -->
<div class="container-fluid">
</div>


    <!-- Block Body-->
    {% block body %}{% endblock %}

<!-- tooltip JS -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script> -->
<script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('#bell').tooltip();
        });
</script>

<script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('#plus').tooltip();
        });
</script>

<script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('#user').tooltip();
        });
</script>
    <!-- js includes -->
    <!-- js inclues -->
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script>

</body>
</html>