<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Bookshelf</title>
    <meta name="viewport" content = "width=device-width, initial-scale=1.0">



    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom.css') }}">

    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>

<!-- Header starts -->
<header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <!-- search box -->
      <form action="{{url_for('search')}}" class="navbar-form navbar-left">
        <div class="form-group">

          <div class="form-group has-feedback">
          <input type="text" class="form-control" placeholder=" search by book, author or user"
          name="search_string" value="{{request.form.search_string}}"
          style="border-radius: 20px; width: 280px;">
          <span class="glyphicon glyphicon-search form-control-feedback"></span>
          </div>

        </div>

        <!-- <button type="submit" class="btn btn-primary" style="background-color:#000000;">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button> -->
      </form>



      <ul class="nav navbar-nav" style="position: absolute; width:100%; left:40%; text-align: center; margin:auto">

            <li><a href="{{url_for('browsebooks', category='all')}}" style="font-size: 14px">ALL</a></li>
            <li><a href="{{url_for('browsebooks', category='fiction')}}" style="font-size: 14px">FICTION</a></li>
            <li><a href="{{url_for('browsebooks', category='non_fiction')}}" style="font-size: 14px">NON-FICTION</a></li>

      </ul>



      <ul class="nav navbar-nav navbar-right">

        {% if session.logged_in %}
        <li><a href="{{url_for('upload_file', username=session.username)}}" data-original-title="Upload book" data-placement="bottom" data-toggle="tooltip" id="upload" class="tt"><span class="glyphicon glyphicon-arrow-up tt" aria-hidden="true"></span></a></li>

        <li><a href="{{url_for('notifications', username=session.username)}}" data-original-title="Notifications" data-placement="bottom" data-toggle="tooltip" id="bell" class="tt"><span class="glyphicon glyphicon-bell tt" aria-hidden="true"></span></a></li>

        <li><a href="{{url_for('reading_list', username=session.username)}}" data-original-title="Your reading list" data-placement="bottom" data-toggle="tooltip" id="plus" class="tt"><span class="glyphicon glyphicon-book tt" aria-hidden="true"></span></a></li>

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-original-title="your profile and more" data-placement="bottom" data-toggle="tooltip" id="user">
          <span class="glyphicon glyphicon-user" aria-hidden="true"></span><span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Signed in as <br>{{session.username}}</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="/user_bookshelf/{{session.username}}">Your Uploads</a></li>
            <li><a href="/logout/">Logout</a></li>
          </ul>
        </li>

        {% else %}
        <li><a href="/login/">Login</a></li>
        <li><a href="/signup/">Sign Up</a></li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>

<!-- Body starts -->
<body>
    <div class="border-row" style="width:100%; margin-bottom: 15px;"> </div>
    <!-- Flashed messages and actual body content -->
    <div class="container-fluid col-md-6">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            <div class="alert alert-warning alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  {{message}}
</div>
        {% endfor %}
        {% endwith %}
    </div>

<!-- for gap between flash messages and the body -->
<div class="container-fluid">
</div>


    <!-- Block Body-->
    {% block body %}{% endblock %}

<!-- tooltip JS -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script> -->
<script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('.tt').tooltip();
        });
</script>

<!-- <script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('#bell').tooltip();
        });
</script>

<script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('#plus').tooltip();
        });
</script>

<script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('#user').tooltip();
        });
</script> -->
    <!-- js includes -->
    <!-- js inclues -->
  <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->

  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script> -->
  <!-- <script type="text/javascript" src="{{ url_for('static', filename='js/dropdown.js') }}"></script> -->

</body>
</html>