{% extends "header.html" %}
{% block body %}

<!-- Read More Modal -->
<div class="modal fade" id="readmoreModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Title</h4>
        <small class="modal-author">Lorem Ipsum</small>
      </div>

      <div class="modal-body">
        <p class="modal-description">Description</p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
<!-- Read more Modal ends-->



<div class="container-fluid">

  <a href="{{url_for('other_user_shelf', other_user_id = userid)}}">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true" style="font-size: 15px; color:black;"></span>
  </a>

  <br>
  <br>
  <h4> {{username}}'s reading list: {{p.total}} books</h4>
</div>
<br>

<div class="container-fluid"></div>

<div class="container-fluid">
  <div class="row">
  {% for book in book_list[(p.from_item-1):(p.to_item)] %}
      <div class="col-sm-6 col-md-4">
          <div class="thumbnail" style="height:240px; width:420px">
              <div class="caption">
                <h3>
                <a href="{{url_for('uploads', filename=book[4])}}" target="blank" name="filename" style="color:black;">
                {{book[1].title()}}
                </a>
                <br>
                <small>{{book[2]}}</small>
                </h3>

                {% if book[3]|length > 110 %}
                <p>
                {{book[3][:90] + '...'}}
                <a href="#" data-toggle="modal" data-target="#readmoreModal"
                        data-title="{{book[1]}}" data-description="{{book[3]}}"
                        data-author="{{book[2]}}">Read more</a>
                </p>

                {% else %}
                <p>{{book[3]}}</p>
                {% endif %}

                <p>Uploaded by: <a href="{{url_for('other_user_shelf', other_user_id=book[5])}}">{{book[6]}}</a></p>
                <p></p>





                {% if session.logged_in %}

                    {% if session.username == username %}
                      <a href="{{url_for('remove_from_reading_list', username=session.username, book_id=book[0])}}" class="btn btn-default btn-sm tt" role="button" data-original-title="Remove from reading list" data-placement="bottom" data-toggle="tooltip">
                      <span class="glyphicon glyphicon-minus"> </span>
                      </a>

                    {% else %}


                      <a href="{{url_for('add_to_reading_list', username=session.username, book_id=book[0])}}" class="tt"
                      data-original-title="Add to reading list" data-placement="bottom" data-toggle="tooltip"
                      style="color:black;">
                      <span class="glyphicon glyphicon-plus"></span>
                      </a>

                      <span style="display:inline-block; width: 5px;"></span>

                      <a href="{{url_for('add_to_likes', username=session.username, book_id=book[0])}}" class="tt"
                      data-original-title="Like" data-placement="bottom" data-toggle="tooltip">
                      <span class="glyphicon glyphicon-heart" style="color: #ff6666;"></span>

                      </a>

                    {% endif %}
                      <!-- <small style="font-size: 14px; color: #939393;">n readers</small> -->


                {% else %}

                      <a href="{{url_for('add_to_reading_list', username='guest', book_id=book[0])}}" class="tt"
                      data-original-title="Add to reading list" data-placement="bottom" data-toggle="tooltip"
                      style="color:black;">
                      <span class="glyphicon glyphicon-plus"></span>
                      </a>

                      <span style="display:inline-block; width: 5px;"></span>

                      <a href="{{url_for('add_to_likes', username='guest', book_id=book[0])}}" class="tt"
                      data-original-title="Like" data-placement="bottom" data-toggle="tooltip">
                      <span class="glyphicon glyphicon-heart" style="color: #ff6666;"></span>

                      </a>

                {% endif %}



              </div>
          </div>
      </div>
  {% endfor %}
  </div>


<div class="container-fluid">
  <nav aria-label="Page navigation">
    <ul class="pagination">
      {% if p.has_previous() %}
        <li>
          <a href="{{url_for('reading_list', username=username, page=p.page-1)}}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
      {% endif %}

      {% for page in range(p.from_page, p.to_page +1) %}
        <li><a href="{{url_for('reading_list', username=username, page=page)}}">{{page}}</a></li>
      {% endfor %}

      {% if p.has_next() %}
      <li>
        <a href="{{url_for('reading_list', username=username, page=p.page+1)}}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
<!-- modal script -->
<script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>

<script type="text/javascript">

$(function(){
$('#readmoreModal').on('show.bs.modal', function (event) {
  var button = $(event.relatedTarget) // element that triggered the modal
  var title = button.data('title')
  var description = button.data('description')
  var author = button.data('author')// Extract info from data-* attributes
  // If necessary, you could initiate an AJAX request here (and then do the updating in a callback).
  // Update the modal's content. We'll use jQuery here, but you could use a data binding library or other methods instead.
  var modal = $(this)
  modal.find('.modal-title').text(title)
  modal.find('.modal-description').text(description)
  modal.find('.modal-author').text(author)
})
});

</script>

<script src="http://code.jquery.com/jquery-2.0.3.min.js" type="text/javascript"></script>
        <!-- <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js" type="text/javascript"></script> -->
        <script id="bsJs" type="text/javascript">
        $(document).ready(function() {
            $('.tt').tooltip();
        });
        </script>

{% endblock %}